[
  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, color, " [", severity, "] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\e[0m\r\n"]}
      ]}
    ]},
    {colored, true}
  ]}
].
